/*не влезло из-за шрифтов, почему то бебас нью какой-то другой, поэтому размеры кривые, слегка срезал блок чтобы сохранить пропорции*/

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular');
  url("./fonts/Inter-Regular.woff");
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold');
  url("./fonts/Inter-SemiBold.woff");
}

@font-face {
  font-family: 'BebasNeueRegural';
  src: local('BebasNeueRegural');
url("./fonts/BebasNeueRegural.ttf");
}

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Inter-Regular", "Inter-SemiBold", sans-serif;
  font-weight: 400;
}


.second-block-place{
  display: flex;
  justify-content: center;
}
@media (min-width: 1191px) {
  .second-block-place {
    margin-top: 20px;
  }
  .second-block {
    width: 1191px;
    height: 554px;
    background-color: #312783;
    border-radius: 20px;
  }

  .title-h1 {
    color: white;
    font-weight: 700;
    font-size: 85px;
    text-transform: uppercase;
    padding-left: 20px;
    position: absolute;
    top: 100px;
  }

  .title-h2 {
    color: white;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    top: 110px;
    left: 500px;
    width: 500px;
  }

  .second-block-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    width: 1129px;
    height: 96px;
    /*  row-gap: 30px;
      column-gap: 10px;*/
    gap: 30px;
    padding-left: 20px;
  }

  .list_item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;

  }

  .second-block-button a {
    background-color: #CF2315;
    color: white;
    border-radius: 79px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    padding: 17px 30px 20px 30px;
    text-decoration: none;
    margin-top: 100px;
  }

  .button-place {
    margin-top: 17px;
  }

  .second-block-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 20px;
  }

  .arrow {
    width: 34px;
    height: 28px;
    color: white;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-top: 25px;
    margin-left: 30px;
  }

  .arrow-2 {
    border-bottom: 2px solid;
    border-left: 2px solid;
    color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-left: 29px;
    margin-top: 16px;
    transform: rotate(315deg);
  }

  .offers-title {
    text-transform: uppercase;
    color: #312783;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 77.4px;
    padding-left: 20px;
    width: 1191px;
    margin-bottom: -180px;
  }
}
@media (max-width: 559px) {
  .second-block {
    background-color: #312783;
    width: 330px;
    height: 440px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .second-block-place {
    margin-top: 10px;
  }

  .br {
    display: none;
  }
  .title-h1 {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  .title-h2 {
    color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .list_item {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
  }
  .second-block-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    grid-gap: 10px;
  }
  .second-block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CF2315;
    width: 138px;
    height: 41px;
    border-radius: 79px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
  }
  .second-block-button a {
    text-decoration: none;
    color: white;
  }
  .offers-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 30.2px;
    color: #312783;
    width: 330px;
    margin-top: 20px;
    letter-spacing: -1px;
  }
}
@media (min-width: 950px) and (max-width: 1190px) {
  .second-block {
    background-color: #312783;
    width: 920px;
    height: 455px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .second-block-place {
    margin-top: 20px;
  }
  .title-h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  .title-h2 {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .title-h2 br {
    display: none;
  }
  .list_item {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 16.94px;
  }
  .second-block-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
  }
  .second-block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CF2315;
    width: 160px;
    height: 55px;
    border-radius: 79px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin-top: 30px;
  }
  .second-block-button a {
    text-decoration: none;
    color: white;
  }
  .offers-title {
    font-weight: 700;
    font-size: 46px;
    line-height: 54.2px;
    color: #312783;
    width: 915px;
    margin-top: 10px;
    letter-spacing: -1px;
  }
}
@media (min-width: 769px) and (max-width: 949px) {
  .second-block {
    background-color: #312783;
    width: 740px;
    height: 415px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .second-block-place {
    margin-top: 20px;
  }
  .title-h1 {
    color: white;
    font-weight: 700;
    font-size: 46px;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  .title-h2 {
    color: white;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .title-h2 br {
    display: none;
  }
  .list_item {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 17px;
    line-height: 16.94px;
  }
  .second-block-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
  }
  .second-block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CF2315;
    width: 145px;
    height: 48px;
    border-radius: 79px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin-top: 30px;
  }
  .second-block-button a {
    text-decoration: none;
    color: white;
  }
  .offers-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 34.2px;
    color: #312783;
    width: 735px;
    margin-top: 15px;
    letter-spacing: -1px;
  }
}

@media (min-width: 560px) and (max-width: 768px) {
  .second-block {
    background-color: #312783;
    width: 530px;
    height: 460px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .second-block-place {
    margin-top: 15px;
  }
  .title-h1 {
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  .title-h2 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .title-h2 br {
    display: none;
  }
  .list_item {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 16.94px;
  }
  .second-block-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    grid-gap: 20px;
  }
  .second-block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CF2315;
    width: 138px;
    height: 41px;
    border-radius: 79px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
  }
  .second-block-button a {
    text-decoration: none;
    color: white;
  }
  .offers-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 30.2px;
    color: #312783;
    width: 535px;
    margin-top: 20px;
    letter-spacing: -1px;
  }
}
