

.wrapper {
  min-width: 0;
  width: 894px;
  height: 262px;!important;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.popup-review {
  cursor: pointer;
  box-sizing: border-box;
}

.arrows-trainer-1, .arrows-slider-place-2, .arrows-slider-place-3 {
  display: flex;
  flex-direction: row;
  position: relative;!important;
  gap: 15px;
  left: 815px

}

.swiper-notification {
  display: none;
  pointer-events: none;
}

.popup-review-list {
  padding-bottom: 140px;
  padding-right: 10px;
}
.swiper-button-disabled {
  opacity: 30%;
}
@media (min-width: 769px) and (max-width: 949px) {
  .arrows-trainer-1 {
    left: 635px
  }
}
@media (max-width: 560px) {

  .wrapper {
    margin-left: 0;
    margin-bottom: 10px;
    width: 310px;
    padding-right: 10px;
  }
  .popup-review-slider-line {
    width: 310px;
  }
  .arrows-trainer-1 {
    left: 220px;
    top: 650px;
    position: absolute;
  }
}
@media (min-width: 560px) and (max-width: 768px) {

  .arrows-trainer-1 {
    left: 450px;
  }
  .wrapper{
    margin-left: 10px;
  }
}
