
@font-family {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular');
  url("./fonts/Inter-Regular.woff");
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold');
  url("./fonts/Inter-SemiBold.woff");
}
@font-face {
  font-family: 'BebasNeueBold';
  src: local('BebasNeueBold');
url("./fonts/BebasNeueBold.woff");
}
html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Inter-Regular", "Inter-SemiBold", sans-serif;
  font-weight: 400;
}

.footer {
  width: 1191px;
  height: 87px;
  background-color: #F3F2FF;
  border-radius: 20px;
  display: flex;

}
.footer-place {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  box-sizing: border-box;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 585px;
  height: 16px;
  margin-left: 20px;
  margin-top: 35.5px;
}
.footer-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
}
.footer-link a {
  text-decoration: none;
  color: black
}
.logo-impulse-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15.6px;
}
.logo-impulse a {
  color: black;
  text-decoration: none;
}
.logo-impulse {
  width: 127px;
  height: 47px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 430px;
}

@media (min-width: 769px) and (max-width: 949px) {
  .footer {
    width: 770px;
    height: 87px;
  }
  .footer-links {
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    grid-gap: 25px;
    width: auto;
    height: 100%;
    margin-top: 0;
    margin-left: 25px;
  }
  .logo-impulse {
    margin-left: 170px;
    margin-top: 20px;
  }
}
@media (min-width: 950px) and (max-width: 1190px) {
  .footer {
    width: 950px;
    height: 87px;
    background-color: #F3F2FF;
    border-radius: 20px;
    display: flex;

  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    grid-gap: 30px;
    width: 505px;
    height: 16px;

  }
  .logo-impulse {
    margin-left: 280px;
    margin-top: 20px;
  }
}
@media (min-width: 560px) and (max-width: 768px) {
  .footer {
    width: 560px;
    height: 114px;
  }
  .footer-links {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    grid-gap: 15px;
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
  }
  .footer-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .logo-impulse {
    margin: auto 20px;
  }
  .impulse-logo-svg svg {
    width: 94px;
    height: 22px;
  }
}
@media  (max-width: 559px) {
  .footer {
    width: 335px;
    height: 89px;
    border-radius: 15px;
  }
  .footer-links {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 172px;
    height: 59px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .footer-link {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    width: 172px;
  }
  .logo-impulse {
    margin: auto;
  }
  .impulse-logo-svg svg {
    width: 89px;
    height: 19px;
  }
}
